{% extends 'navbar.html' %}
{% load static %}
{% block section %}
  <!-- End menu -->
  <!-- Start search box -->
  <section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-page-breadcrumb-area">
            <h2>Gallery</h2>
            <ol class="breadcrumb">
             <li><a href="#">Home</a></li>            
             <li class="active">Gallery</li>
           </ol>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="mu-gallery">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-gallery-area">
           <!-- start title -->
           <div class="mu-title">
             <h2>Some Moments</h2>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ut laboriosam corporis doloribus, officia, accusamus illo nam tempore totam alias!</p>
           </div>
           <!-- end title -->
           <!-- start gallery content -->
           <div class="mu-gallery-content">
             <!-- Start gallery menu -->
             <div class="mu-gallery-top">              
               <ul>
                 <li class="filter active" data-filter="all" style="background-color: blue;">All</li>
                 <li class="filter" data-filter=".lab" style="background-color: blue;">Lab</li>
                 <li class="filter" data-filter=".classroom" style="background-color: blue;">Class Room</li>
                 <li class="filter" data-filter=".library" style="background-color: blue;">Library</li>
                 <li class="filter" data-filter=".cafe" style="background-color: blue;">Cafe</li>
                 <li class="filter" data-filter=".others" style="background-color: blue;">Others</li>
               </ul>
             </div>
             <!-- End gallery menu -->
             <div class="mu-gallery-body">
               <ul id="mixit-container" class="row">
                 <!-- start single gallery image -->
                 <li class="col-md-4 col-sm-6 col-xs-12 mix lab">
                   <div class="mu-single-gallery">                  
                     <div class="mu-single-gallery-item">
                       <div class="mu-single-gallery-img">
                         <a href="#"><img alt="img" src="{% static 'images/newera1.jpg' %}"></a>
                       </div>
                       <div class="mu-single-gallery-info">
                         <div class="mu-single-gallery-info-inner">
                           <h4>Puja</h4>
                           <p>Saraswati Puja</p>
                           <a href="{% static 'images/newera2.jpg' %}" data-fancybox-group="gallery" class="fancybox"><span class="fa fa-eye"></span></a>
                           <a href="#" class="aa-link"><span class="fa fa-link"></span></a>
                         </div>
                       </div>                  
                     </div>
                   </div>
                 </li>
                 <!-- start single gallery image -->
                <li class="col-md-4 col-sm-6 col-xs-12 mix library">
                   <div class="mu-single-gallery">                  
                     <div class="mu-single-gallery-item">
                       <div class="mu-single-gallery-img">
                         <a href="#"><img alt="img" src="{% static 'images/newera3.jpg' %}"></a>
                       </div>
                        <div class="mu-single-gallery-info">
                         <div class="mu-single-gallery-info-inner">
                           <h4>Class room</h4>
                           <p>Class</p>
                           <a href="{% static 'images/newera3.jpg' %}" data-fancybox-group="gallery" class="fancybox"><span class="fa fa-eye"></span></a>
                           <a href="#" class="aa-link"><span class="fa fa-link"></span></a>
                         </div>
                       </div> 
                     </div>
                   </div>
                </li>
                 <!-- start single gallery image -->
                 <li class="col-md-4 col-sm-6 col-xs-12 mix lab">
                   <div class="mu-single-gallery">                  
                     <div class="mu-single-gallery-item">
                       <div class="mu-single-gallery-img">
                         <a href="#"><img alt="img" src="{% static 'images/newera4.jpg' %}"></a>
                       </div>
                       <div class="mu-single-gallery-info">
                         <div class="mu-single-gallery-info-inner">
                           <h4>Faculty</h4>
                           <p>Math</p>
                           <a href="{% static 'images/newera5.jpg' %}" data-fancybox-group="gallery" class="fancybox"><span class="fa fa-eye"></span></a>
                           <a href="#" class="aa-link"><span class="fa fa-link"></span></a>
                         </div>
                       </div>
                     </div>
                   </div>
                 </li>
                 <!-- start single gallery image -->
                 <li class="col-md-4 col-sm-6 col-xs-12 mix classroom">
                   <div class="mu-single-gallery">                  
                     <div class="mu-single-gallery-item">
                       <div class="mu-single-gallery-img">
                         <a href="#"><img alt="img" src="{% static 'images/newera6.jpg' %}"></a>
                       </div>
                        <div class="mu-single-gallery-info">
                         <div class="mu-single-gallery-info-inner">
                           <h4>Honor</h4>
                           <p>English</p>
                           <a href="{% static 'images/newera7.jpg' %}" data-fancybox-group="gallery" class="fancybox"><span class="fa fa-eye"></span></a>
                           <a href="#" class="aa-link"><span class="fa fa-link"></span></a>
                         </div>
                       </div>
                     </div>
                   </div>
                 </li>
                 <!-- start single gallery image -->
                 <li class="col-md-4 col-sm-6 col-xs-12 mix others">
                   <div class="mu-single-gallery">                  
                     <div class="mu-single-gallery-item">
                       <div class="mu-single-gallery-img">
                         <a href="#"><img alt="img" src="{% static 'images/newera8.jpg' %}"></a>
                       </div>
                       <div class="mu-single-gallery-info">
                         <div class="mu-single-gallery-info-inner">
                           <h4>Competition</h4>
                           <p>Drawing</p>
                           <a href="{% static 'images/newera9.jpg' %}" data-fancybox-group="gallery" class="fancybox"><span class="fa fa-eye"></span></a>
                           <a href="#" class="aa-link"><span class="fa fa-link"></span></a>
                         </div>
                       </div>
                     </div>
                   </div>
                 </li>
                 <!-- start single gallery image -->
                 <li class="col-md-4 col-sm-6 col-xs-12 mix cafe">
                   <div class="mu-single-gallery">                  
                     <div class="mu-single-gallery-item">
                       <div class="mu-single-gallery-img">
                         <a href="#"><img alt="img" src="{% static 'images/newera1.jpg' %}"></a>
                       </div>
                        <div class="mu-single-gallery-info">
                         <div class="mu-single-gallery-info-inner">
                           <h4>Puja</h4>
                           <p>Saraswati Puja</p>
                           <a href="{% static 'images/newera2.jpg' %}" data-fancybox-group="gallery" class="fancybox"><span class="fa fa-eye"></span></a>
                           <a href="#" class="aa-link"><span class="fa fa-link"></span></a>
                         </div>
                       </div>
                     </div>
                   </div>
                 </li>
                 <!-- start single gallery image -->
                 <li class="col-md-4 col-sm-6 col-xs-12 mix others">
                   <div class="mu-single-gallery">                  
                     <div class="mu-single-gallery-item">
                       <div class="mu-single-gallery-img">
                         <a href="#"><img alt="img" src="{% static 'images/newera3.jpg' %}"></a>
                       </div>
                       <div class="mu-single-gallery-info">
                         <div class="mu-single-gallery-info-inner">
                           <h4>Students</h4>
                           <p>School</p>
                           <a href="{% static 'images/newera3.jpg' %}" data-fancybox-group="gallery" class="fancybox"><span class="fa fa-eye"></span></a>
                           <a href="#" class="aa-link"><span class="fa fa-link"></span></a>
                         </div>
                       </div>             
                     </div>
                   </div> 
                 </li>
                  <!-- start single gallery image -->
                 <li class="col-md-4 col-sm-6 col-xs-12 mix library">
                   <div class="mu-single-gallery">                  
                     <div class="mu-single-gallery-item">
                       <div class="mu-single-gallery-img">
                         <a href="#"><img alt="img" src="{% static 'images/newera4.jpg' %}"></a>
                       </div>
                        <div class="mu-single-gallery-info">
                         <div class="mu-single-gallery-info-inner">
                           <h4>Teacher</h4>
                           <p>Math</p>
                           <a href="{% static 'images/newera5.jpg' %}" data-fancybox-group="gallery" class="fancybox"><span class="fa fa-eye"></span></a>
                           <a href="#" class="aa-link"><span class="fa fa-link"></span></a>
                         </div>
                       </div>
                     </div>
                   </div>
                 </li>
                 <!-- start single gallery image -->
                 <li class="col-md-4 col-sm-6 col-xs-12 mix lab">
                   <div class="mu-single-gallery">                  
                     <div class="mu-single-gallery-item">
                       <div class="mu-single-gallery-img">
                         <a href="#"><img alt="img" src="{% static 'images/newera6.jpg' %}"></a>
                       </div>
                       <div class="mu-single-gallery-info">
                         <div class="mu-single-gallery-info-inner">
                           <h4>Honor</h4>
                           <p>English</p>
                           <a href="{% static 'images/newera7.jpg' %}" data-fancybox-group="gallery" class="fancybox"><span class="fa fa-eye"></span></a>
                           <a href="#" class="aa-link"><span class="fa fa-link"></span></a>
                         </div>
                       </div>             
                     </div>
                   </div> 
                 </li>
               </ul>            
             </div>
           </div>
           <!-- end gallery content -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End gallery  -->


  <!-- End from blog -->
  {% include 'footer.html' %}
  {% include 'scripts.html' %}

</body>
</html>
{% endblock section %}




  
 

